main .search-panel-wrapper{
    padding:20px;
    text-align:right;
    background-color:#e8e8e8;
}
.news{
    margin:0 auto;
    text-align:center;
    column-count: 3;
    column-gap: 0em;
}
.news-card-wrapper{
    margin:20px;
    display:inline-block;
    vertical-align: top;
    
}
.news-card-wrapper .news-card{
    padding:0px 0px 50px;
    background:#e8e8e8;
}
.news-card-wrapper .news-card img{
    object-fit: contain;
    width:100%;
}
.news-card-wrapper .news-card h1{
    font-family:'Oswald', sans-serif;
    text-transform:uppercase;
    margin-bottom:5px;
}
.news-card-wrapper .news-card h5{
    margin:0px;
    color:grey;
    font-weight:300;
}
.news-card-wrapper .news-card p{
    padding:0px 20px;
}

@media(max-width:996px){
    .news{
        column-count: 2;
    }
}
@media(max-width:576px){
    .news{
        column-count:1;
    }
}