header{
    margin-bottom:-25px;
}
.main-slider {
    position: relative;
    max-width: 100%;
    margin: auto;
}
.main-slider .video{
    position: relative;
    height:100vh;
    overflow: hidden;
}
.main-slider .video .slide-item-video{
    width:100%;
    object-fit:cover;
}
.main-slider .slide .slide-item{
    width:100%;
    height:100vh;
    object-fit: cover;
}
header .main-slider .divider{
    display:inline-block;
    margin:0px 10px;
}
.main-slider .text-wrapper{
    width:100vw;
}
.main-slider .text-wrapper .text {
    position: absolute;
    bottom: 37vh;
    left:25%;
    width: 50%;
    margin: 0 auto;
    padding:40px 20px;
    color: #f2f2f2;
    background-color:rgba(178,178,178, .8);
    text-align: center;
    font-weight:300;
}
.main-slider .text-wrapper .text h1{
    display:inline-block;
    margin:0px 10px auto 15px;
}
.main-slider .text-wrapper .text p{
    margin-bottom:30px;
}
.main-slider .previous, 
.main-slider .next {
    position: absolute;
    top: 40vh;
    width: auto;
    margin:-22px 20px 0px 20px;
    padding: 16px;
    border-radius: 0 3px 3px 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
    cursor: pointer;
    transition: 0.6s ease;
}
.main-slider .previous:hover,
.main-slider .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.main-slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.main-slider .slide{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.info{
    position:relative;
    width:100%;
    min-height:100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/4.jpg);
    background-position: center; 
    background-size:cover;
}
.info .section{
    position:absolute;
    top:30vh;
    left:0;
    right:0;
    width:30vw;
    margin:0 auto;
    padding:30px;
    border:1px solid white;
    text-align:center;
    color:white;
}
.info .section:before{
    position: absolute;
    top: 4px;
    left: 4px;
    right: -5px;
    bottom: -4px;
    display: block;
    border: 1px solid #fff;
    content: "";
    background: none;
    pointer-events: none;
}
.info .section p{
    margin-bottom:30px;
}
.info .section h1{
    font-family:'Oswald', sans-serif;
}
.rooms-section{
    position:relative;
    width:100%;
    min-height:100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/5.jpg);
    background-position: center; 
    background-size:cover;
}

.rooms-section .section:before{
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    right: -5px;
    bottom: -4px;
    border: 1px solid #fff;
    background: none;
    content: "";
    pointer-events: none;
}
.rooms-section .section{
    position:absolute;
    top:30vh;
    left:10vw;
    width:30vw;
    padding:30px;
    border:1px solid white;
    color:white;
    text-align:center;
}
.rooms-section .section p{
    margin-bottom:30px;
}
.rooms-section .section h1{
    font-family:'Oswald', sans-serif;
}
.rooms-section .section .room{
    display:block;
    width:fit-content;
    margin:20px;
    border-bottom:1.5px solid transparent;
    font-size:1em;
    text-align:left;
    color:white;
    text-decoration:none;
    transition:border-bottom 0.1s ease-in-out;
}
.rooms-section .section .room:hover {
    border-bottom: 1.5px solid #f1f1f1;
}
#map{
    width:100vw;
    height:60vh;
}
.fooddrinks-section{
    position:relative;
    width:100%;
    min-height:100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/10.jpg);
    background-position: center; 
    background-size:cover;
}
.fooddrinks-section .section{
    position:absolute;
    top:30vh;
    right:10vw;
    width:30vw;
    padding:30px;
    border:1px solid white;
    color:white;
    text-align:center;
}
.fooddrinks-section .section:before{
    position: absolute;
    top: 4px;
    left: 4px;
    right: -5px;
    bottom: -4px;
    display: block;
    border: 1px solid #fff;
    background: none;
    content: "";
    pointer-events: none;
}
.fooddrinks-section .section p{
    margin-bottom:30px;
}
.fooddrinks-section .section h1{
    font-family:'Oswald', sans-serif;
}

@media(max-width:576px){
    .fooddrinks-section .section,
    .info .section,
    .rooms-section .section{
        position:relative;
        right:0;
        left:0;
        top:20vh;
        width:70vw;
        min-height:auto;
        margin:0 auto;
        padding:30px;
    }
    header .main-slider .text-wrapper .text p{
        display:none;
    }
    header .main-slider .text-wrapper .text button{
        display:block;
        margin:0 auto;
        margin-top:20px;
        text-align:center;
    }
    header .main-slider .text-wrapper .text{
        position: relative;
        height:auto;
        left:0;
        right:0;
        top: 50%;
        margin:0 auto;
        transform: translateY(-80%);  
    }
   
}
@media(max-width:1024px){
    .fooddrinks-section .section,
    .info .section,
    .rooms-section .section{
        min-height:auto;
    }
    header .main-slider .text-wrapper .text{
        height:fit-content;
        
    }
    .main-slider .previous, .main-slider .next{
        top:45vh;
    }
    .book-now{
        margin-right:0px;
    }
}