.rooms-div{
    padding:200px 100px;
    background:url(../img/rooms_background.jpg) ;
    background-size:cover;
}
.rooms-div h1{
    margin:0px;
    font-size:100px;
    color:white;
}
.book{
    background-color:#9b7f25;
    padding:20px 0px;
    font-size:20px;
    color:white;
    text-align:center;
}
.book span{
    margin-right:40px;
}
.book-and-save{
    position: relative;
    margin-left:10px;
    margin-right:0px;
    padding:5px 30px;
    border: 2px solid #fff;
    background:transparent;
    font-size:20px;
    color:white;
    transition: all 0.5s ease-out;
}
.book-and-save:hover{
    color:#9b7f25;
    background-color:white;
}
.main-section{
    margin-top:10px;
}
.main-section .room-section{
    margin:20px;
    background-color:#ededed;
}
.main-section .room-section .room-section-content{
    display:inline-flex;
    padding:100px 200px;
}
.main-section .room-section .room-section-content .image-section{
    max-width: 60%;
    padding-right:50px;
    text-align:right;
}
.main-section .room-section .room-section-content .image-section-right{
    padding-right:0px;
    padding-left:30px;
    text-align:left;
}
.main-section .room-section .room-section-content .image-section img{
    width:80%;
}
.main-section .room-section .room-section-content .image-section .label{
    position:absolute;
    width:400px;
    height:150px;
    margin-left:-100px;
    margin-top:-50px;
    padding:35px 0px 0px 20px;
    border:2px solid #9b7f25;
    background-color:transparent;
    text-align:left;
}
.main-section .room-section .room-section-content .image-section .label-mobile{
    display:none;
}
.main-section .room-section .room-section-content .image-section .label-right{
    position:absolute;
    right:0px;
    width:400px;
    height:150px;
    margin-right:100px;
    margin-top:-50px;
    padding:35px 20px 0px 0px;
    border:2px solid #9b7f25;
    background-color:transparent;
    text-align:right;
}
.main-section .room-section .room-section-content .image-section .label .line,
.main-section .room-section .room-section-content .image-section .label-right .line{
    width:50px;
    height:3px;
    background-color:#9b7f25;
}
.main-section .room-section .room-section-content .image-section .label-right .line{
    position: absolute;
    right:20px;
}
.main-section .room-section .room-section-content .image-section .label .tonights-rate,
.main-section .room-section .room-section-content .image-section .label-right .tonights-rate{
    margin:20px 0px 5px 0px;
    font-size:20px;
}
.main-section .room-section .room-section-content .image-section .label .price,
.main-section .room-section .room-section-content .image-section .label-right .price{
    margin:0px;
    font-size:40px;
}
.main-section .room-section .room-section-content .image-section-mobile{
    display:none;
}
.main-section .room-section .room-section-content .text-section{
    max-width:40%;
}
.main-section .room-section .room-section-content .text-section h2{
    letter-spacing:5px;
}
.main-section .room-section .room-section-content .text-section .book-room-now{
    padding:10px 40px;
    border:2px solid #193663;
    font-weight:bold;
    text-decoration: none;
    color:#193663;
    background-color:transparent;
    transition: all 0.5s ease-out;
}
.main-section .room-section .room-section-content .text-section .book-room-now:hover{
    color:white;
    background-color:#193663;
}
.main-section .room-section .room-section-content .text-section .book-room-now:active,
.main-section .room-section .room-section-content .text-section .book-room-now:focus {
    outline: 0;
}
  
@media(max-width:996px){
    .rooms-div{
        padding:200px 0px;
        background-position: 60%;
        background-size:cover;
    }
    .rooms-div h1 {
        font-size:5em;
        text-align:center;
    }
    .book span{
        margin-right:0px;
    }
    .book-and-save{
        margin-top:10px;
    }
    .main-section .room-section .room-section-content .image-section .label,
    .main-section .room-section .room-section-content .image-section .label-right{
        display:none;
    }
    .image{
        position:relative;
    }
    .main-section .room-section .room-section-content .image-section .label-mobile,
    .main-section .room-section .room-section-content .image-section-right .label-mobile{
        position:absolute;
        bottom:0px;
        right:0px;
        display:block;
        width:20%;
        padding:10px 30px;
        color:white;
        background-color:#9b7f25;
        font-size:20px; 
    }
    .main-section .room-section .room-section-content{
        display:block;
        padding:20px;
    }
    .main-section .room-section:nth-of-type(2) .room-section-content .image-section{
        display:none;
    }
    .main-section .room-section:nth-of-type(2) .room-section-content .image-section-mobile{
        display:block;
    }
    .main-section .room-section .room-section-content .image-section{
        padding-right:0px;
    }
    .main-section .room-section .room-section-content .image-section img{
        width:100%;
    }
    .main-section .room-section .room-section-content .text-section p{
        text-align:justify;
    }
    .main-section .room-section .room-section-content .image-section,
    .main-section .room-section .room-section-content .text-section{
        min-width:100%;
        text-align:center;
    }
}
@media (min-width:996px) and (max-width:1024px){
    .main-section .room-section .room-section-content .image-section img{
        width:100%;
    }
    .main-section .room-section .room-section-content .image-section .label{
        margin-left:-150px;
    }
    .main-section .room-section .room-section-content .image-section .label-right{
        margin-right:50px;
    }
    .main-section .room-section .room-section-content{
        padding:100px 175px;
    }
}