.main-wrapper{
    background:url(../img/1.jpg) ;
    background-size:cover;
    width:100%;
    min-height:100vh;
    color:white;
    text-transform:uppercase;
    position:relative;
}
.main-wrapper .content-wrapper{
    padding:40px 0px;
}
.main-wrapper .content-wrapper .content{
    text-align:center;
    width:40vw;
    background-color:rgba(91, 90, 86, 0.9);
    margin:0 auto;
    padding:50px 20px;
}
.main-wrapper .content-wrapper .content .header-wrapper div,
.main-wrapper .content-wrapper .content .header-wrapper h1{
    display:inline-block;
    margin:0px 5px;
}
.main-wrapper .content-wrapper .content .header-wrapper{
    width:60%;
    padding:20px;
    border: 1px solid #fff;
    position: relative;
    margin:0 auto;
    margin-bottom:40px;
}
.main-wrapper .content-wrapper .content .header-wrapper:before{
    background: none;
    border: 1px solid #fff;
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    right: -5px;
    bottom: -4px;
    pointer-events: none;
}

.divider{
    width:10px;
    height:10px;

    background-color:none;
    border:3px solid #9b7f25;
    margin: 0 auto;
    transform: rotate(45deg);
}
main div label{
    font-size:20px;
}
main div input,
main div select {
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
    margin-bottom:20px;
    margin-top:5px;
    padding:10px 20px;
    border-radius:10px;
    border:2px solid #9b7f25;
    width:40%;
    text-align:left;
    background-color:transparent;
}
main div input::placeholder,
main div input,
main div select{
    color:white;
}
main div select option{
    color:black;
}
main #submit{
    background:#9b7f25;
    color:white;
    border:2px solid #9b7f25;
    padding:10px 50px;
    width:50%;
    font-size:20px;
    margin-top:20px;
    text-transform: uppercase;
    font-family:"Oswald", sans-serif;
    transition:border .2s ease-in-out;
    transition:color .4s ease-in-out;
}
main #submit:hover{
    border:2px solid white;
    color:#9b7f25;
    background: white;
}

@media(max-width:996px){
   
    .main-wrapper .content-wrapper .content{
        width:80vw;
    }
    main div input,
    main div select{
        width:80%;
    }
    .main-wrapper .content-wrapper .content .header-wrapper{
        width:70%;
        font-size:10px;
    }
    main #submit{
        width:50%;
    }
}
@media(max-width:576px){
    .main-wrapper .content-wrapper .content .header-wrapper{
        width:80%;
        font-size:10px;
    }
    main #submit{
        width:100%;
    }
}